/*This is Myorder/pay css file!*/
.container{
	padding-bottom:3em;
}
.goods{
	width:50%;
}
.goodsCart_change .weui-cell:before{
	border:none;
}
.goodsCart_change .weui-cell{
	padding-top:0;
	font-size:.8em;
	color:#999;
}
.goodsCart{
	width:100%;
	position:relative;
	border-bottom: 1px solid #eee;
}
.cartgood{
	position: absolute;
	top:20px;
	left:60%;
	margin-top:-.6em;
	font-size:.8em;
	color:#808080;
}
.goodsprice{
	position: absolute;
	top:20px;
	right:4%;
	margin-top:-.6em;
	font-size:.8em;
}
.cart_list_border:before{
	border:none;
}
.free_fee:before{
	border:none;
}
.weui-cell__ft{
	font-size:.8em;
}